NEXT_PUBLIC_SITE_URL=https://snapdraken.com
RESEND_API_KEY=re_your_key_here
RESEND_FROM_EMAIL=Snapdraken Project Desk <projects@snapdraken.com>
CONTACT_TO_EMAIL=travis@snapdraken.com
CONTACT_BCC_EMAIL=
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_LINKEDIN_URL=
